/* PokelistComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.pokemons {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: block;

  li {
    cursor: pointer;
    width: 150px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    background-color: #BDB4B4;
    font-weight:bold;
    position: relative;
    text-align: center;
    img {
      margin-top: 10px;
      width: 60px;
      height: 60px;
    }

    .name {
      display: block;
      margin-left: 50px;
      text-align: left;
      text-transform: capitalize;
    }

  }

  li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }

  li:hover {
    color: #607D8B;
    background-color: #DDD;
  }

  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: absolute;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
}
