<ul class="pokemons">
  <li *ngFor="let pokemon of pokemons; index as i"
      [class.selected]="pokemon === selectedPokemon"
      (click)="onSelect(pokemon)">
    <span class="badge">{{pokemon.id}}</span><span class="name">{{pokemon.name}}</span>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{pokemon.id}}.png"/>
  </li>
</ul>

<div *ngIf="selectedPokemon">
  <h2>{{selectedPokemon.name | uppercase}} Details</h2>
  <div>
    <label>name:
      <input [(ngModel)]="selectedPokemon.name" placeholder="name"/>
    </label>
  </div>

</div>
