.posts {
  background: #000047;
  color: white;
  list-style:none;
  display: flex;
  flex-flow: column;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
  li {
    list-style-position: inside;
    border-radius: 10px;
    background: grey;
    padding: 10px;
    margin: 20px;

  }
}
