<div *ngIf='pokemon' class="pokemon-data" >
    <div class="pokemon">
        <h1 >{{pokemon.name}}</h1>
        <li>Base exp: {{pokemon.base_experience}}</li>
        <li>Weight: {{pokemon.weight}}</li>
        <img src="{{pokemon.sprites.back_default}}"/>

        <h2>Stats</h2>
        <li *ngFor="let stat of pokemon.stats">
            {{stat.stat.name | uppercase}}: {{stat.base_stat}}
        </li>

        <h2>Abilities</h2>
        <li *ngFor="let ability of pokemon.abilities">
            {{ability.ability.name}}
        </li>

        <h2>Moves</h2>
        <ul class="moves">
            <li *ngFor="let skill of pokemon.moves">
                {{skill.move.name}}
            </li>
        </ul>
        <img src="{{pokemon.sprites.front_default}}"/>
        <img src="{{pokemon.sprites.front_front_shiny}}"/>
    </div>
</div>

