.pokemon-data{
  h1 {
    text-transform: capitalize;
  }
  display: flex;
  .pokemon {
    padding: 20px;
    width: 50%;

    .moves {
      column-count: 4;
      li {
        display: inline-block;
      }
    }

  }

  .sprite{
    width: 50%;
    img {
      width: 200px;
      height: 200px;
    }
  }

}
